# Exclude typescript source files
**/*.ts
!types/*.ts

# Exclude typescript configuration
tsconfig.json

# Exclude tools configuration
.vscode
.npmrc
.npmignore
.taskkey
.travis.yml

# Exclude generated output
npm-debug.log
